[Desktop Entry]
Version=1.0
Name=NPOS API Control
Comment=Управление Офлайн NPOS API
Exec=/home/wb/run.sh
Icon=/home/wb/wildberries/offline/npos-plus/dist/pwa-64x64.png
Terminal=true
Type=Application
Path=
StartupNotify=false
